body {
  margin-left: 30px;
  margin-right: 30px;
}

// .navbar-brand {
//   transform: translateX(-50%);
//   left: 50%;
//   position: absolute;
// }

.leftbarheading {
  color: #001d61;
  font-size: 18px;
}

#jumbo {
  background-image: url('../images/hills.png');
  // margin: 20px;
  // max-width: 1620px;
}

#jumboh1 {
  color: #fff;
  text-align: center;
  text-shadow: 5px 5px 10px #001d61;
}

#jumboh3 {
  color: #fff;
  text-align: center;
}

.jumbocomments {
  color: #fff;
  font-size: 16px;
}

// .jumbotable {
//   margin-left: auto;
//   margin-right: auto;
// }

.tdcenter {
  text-align: center;
  padding: 5px 20px;
}

#sign-out, #change-password, #update-issue {
  display:none;
}

#signup, #signin {
  display: block;
}

#results {
  vertical-align: top;
}

.row{
    overflow: hidden;
}

[class*="col-"]{
    margin-bottom: -999px;
    padding-bottom: 999px;
}

.all_results {
  border: 0px;
  border-collapse: collapse;
  vertical-align: top;
  align: left;
  width: 100%;
}

.well {
  background-color: #fffff6;
  display: none;
}

#leftBar {
  background-color: #E5E7E9;
  height: 100%;
  padding-top: 30px;
}

#rightSection {
  background-color: #85C1E9;
  height: 100%;
  padding-top: 30px;
}

.announcement {
  font-size: 60px;
}

#signinSuccessAnnounce, #pwchangeSuccessAnnounce, #signupSuccessAnnounce,
#signoutSuccessAnnounce, #deleteSuccessAnnounce, #updateSuccessAnnounce,
#selections, #createissueSuccessAnnounce, #pleaseBegin {
  color: #fff;
  font-size: 36px;
  padding-top: 10px;
  // text-align: center;
  display: none;
}

.tdleft {
  text-align: left;
}

// .textContent {
//   padding: 30px;
// }

#signinFailureAnnounce, #pwchangeFailureAnnounce, #signupFailureAnnounce,
#signoutFailureAnnounce, #getIssueFailureAnnounce, #deleteFailureAnnounce,
#updateFailureAnnounce, #indexFailureAnnounce {
  color: #fff;
  font-size: 36px;
  padding-top: 10px;
  // text-align: center;
  display: none;
}

#showissues, #options, #create-issue {
  display: none;
}

// #announce {
//   color: #76448a;
//   font-size: 32px;
//   padding-top: 10px;
//   text-align: left;
// }

.actions {
  width: 100%;
}
