body {
  margin-left: 30px;
  margin-right: 30px;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.actions {
  width: 100%;
}

.all_results {
  align: left;
  border: 0;
  border-collapse: collapse;
  vertical-align: top;
  width: 100%;
}

.announcement {
  font-size: 60px;
}

[class*="col-"]{
    margin-bottom: -1599px;
    padding-bottom: 1599px;
}

.contentSecondary {
  font-size: 16px;
}

.itemName {
  font-size: 20px;
  color: #001d61;
}

#issues_list {
  font-size: 36px;
  text-align: center;
}

#jumbo {
  background-image: url('../images/hills.png');
  // margin: 20px;
  // max-width: 1620px;
}

#jumboh1 {
  color: #fff;
  text-align: center;
  text-shadow: 5px 5px 10px #001d61;
}

#jumboh3 {
  color: #001d61;
  text-align: center;
}

.jumbocomments {
  color: #fff;
  font-size: 16px;
}

#leftBar {
  background-color: #E5E7E9;
  height: 100%;
  padding-top: 30px;
}

.leftbarheading {
  color: #001d61;
  font-size: 18px;
}

#results {
  vertical-align: top;
}

#rightSection {
  background-color: #85C1E9;
  height: 100%;
  padding-top: 30px;
}

.row {
  overflow: hidden;
}

#showissues, #options, #create-issue {
  display: none;
}

#signinFailureAnnounce, #pwchangeFailureAnnounce, #signupFailureAnnounce,
#signoutFailureAnnounce, #getIssueFailureAnnounce, #deleteFailureAnnounce,
#updateFailureAnnounce, #indexFailureAnnounce, #getIssueForUpdateFailureAnnounce {
  color: #001d61;
  display: none;
  font-size: 36px;
  padding-top: 10px;
}

#signinSuccessAnnounce, #pwchangeSuccessAnnounce, #signupSuccessAnnounce,
#signoutSuccessAnnounce, #deleteSuccessAnnounce, #updateSuccessAnnounce,
#selections, #createissueSuccessAnnounce, #pleaseBegin, #onGetIssueForUpdateSuccessAnnounce {
  color: #001d61;
  display: none;
  font-size: 36px;
  padding-top: 10px;
}

#sign-out, #change-password, #update-issue {
  display:none;
}

#signup, #signin {
  display: block;
}

.tdcenter {
  padding: 5px 20px;
  text-align: center;
}

.tdleft {
  text-align: left;
}

.well {
  background-color: #fffff6;
  display: none;
}
