body {
  background-image: url('../images/catdog.jpg');
  margin-left: 5px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #b0c4b0;
}

h1 {
  font-size: 40px;
  color: pink;
}

h3 {
  color: pink;
}

#welcome {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

#docupaws {
  font-size: 45px;
  color: #fff;
  text-align: center;
  margin-top: 70px;
}

#getstartedbutton {
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin-top: 40px;
}

.navbar-default {
  background-color: #aac7a1;
  border-color: #aac7a1;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #aac7a1;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #aac7a1;
}
.navbar-default .navbar-toggle {
  border-color: #aac7a1;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #aac7a1;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #aac7a1;
  }
}


// #greeting {
//   position: absolute;
//   top: 600px;
// }

.pet-content {
  background-color: #f9f9f2;
  min-height: 600px;
  margin: 5px;
  border: 1px solid black;

}

.actions {
  width: 100%;
}

// .all_results {
//   align: left;
//   border: 0;
//   border-collapse: collapse;
//   vertical-align: top;
//   width: 100%;
// }

.announcement {
  font-size: 60px;
}

// [class*="col-"]{
//     margin-bottom: -1599px;
//     padding-bottom: 1599px;
// }

.contentSecondary {
  font-size: 16px;
}

.itemName {
  font-size: 20px;
  color: #001d61;
}

#pets_list {
  font-size: 36px;
  text-align: center;
}

// #leftBar {
//   background-color: #E5E7E9;
//   height: 100%;
//   padding-top: 30px;
// }

// .leftbarheading {
//   color: #001d61;
//   font-size: 18px;
// }

.row {
  overflow: hidden;
}

.viewAddPetButtons, .change-password-menu-item, .signout-menu-item {
  display: none;
}

#showpets, #options, #create-pet {
  display: none;
}

// add these to functions so they appear when appropriate
#signin-error, #signup-error, #changepw-error {
  display: none;
}

#selections {
  color: #fff;
  display: none;
  font-size: 36px;
  padding-top: 10px;
}

#update-pet {
  display:none;
}

#signup, #signin {
  display: block;
}

.tdcenter {
  padding: 5px 20px;
  text-align: center;
}

.tdleft {
  text-align: left;
}

.well {
  background-color: #fff;
  display: none;
  margin-top: 50px;
}

.col-md-12 {
  // background-image: url('../images/catdog.jpg');
}
